#arrow_top {
    position: fixed;
    bottom: 348px;
    right: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 3px 8px 0 rgba(40, 40, 40, 0.3), 0 3px 4px 0 rgba(40, 40, 40, 0.41);
    background-color: #2ca6e0;
    img.btn_arrow_top {
        width: 32px;
        height: 32px;
        object-fit: contain;
    }
}