footer{
    line-height: 2;
    letter-spacing: 0.8px;
    p{
        padding: 0px;
        margin: 0px;
    }
    background-color: grey;
    height: 378px;
    .footer-wrapper{
        display: flex;
        justify-content: space-between;
        padding: 95px 130px;
        .footer-left-wrapper{
            font-size: 14px;
            .footer-logo{
                width: 130px;
                height: auto;
            }
            .footer-info{
                margin-top: 25px;
                color: #ffffff;
                font-family: 'Ubuntu', 'Noto Sans JP','NotoSansTC', 'PingFangSC', sans-serif;
            }
            small{
                color: #ffffff;
                padding-top: 70px;
                display: inline-block;
            }
        }
        .footer-right-wrapper{
            color: #ffffff;
            transition: 0.5s;
            i:hover{
                opacity: 0.5;
                transition: 0.5s;
            }
            .facebook,.instagram{
                padding-right: 51px;
            }
        }
    }
}