/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

header {
  padding: 0 120px;
  font-weight: bold;
  background-color: white;
}

header .nav-center {
  flex-grow: 1;
}

header .nav-center .nav-item {
  border-bottom: solid white;
}

header .nav-center .nav-item:hover {
  border-bottom-color: #2CA6E0;
}

header .nav-item {
  margin: 0 15px;
}

header .nav-info-button {
  box-shadow: 0px 0px 3px 1px grey;
  border-radius: 50px;
  padding: 0 1.5em;
}

main {
  margin: auto 120px;
}

.homepage .services {
  width: 100%;
}

.homepage section.workspace {
  height: 800px;
}

.homepage section.workspace .wrap .inner {
  height: 100%;
  color: #ffffff;
  z-index: 1;
}

.homepage section.workspace .wrap .inner .workspace-title {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-lr;
  margin-bottom: 150px;
}

.homepage section.workspace .wrap .inner .workspace-title h2 {
  color: #333333;
  font-size: 2.2rem;
}

.homepage section.workspace .wrap .inner .workspace-title::before {
  content: "Co-Working Space";
  display: inline-block;
  color: #2ca6e0;
  padding: 5px 0;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.homepage section.workspace .wrap .inner .workspace-text {
  color: #333333;
  font-size: 1.2rem;
}

.homepage section.workspace .wrap .inner .workspace-text p {
  font-size: 16px;
  margin-bottom: 60px;
}

.homepage section.workspace .wrap .inner .workspace-text a.btn {
  color: #2ca6e0;
  background-color: #ffffff;
  border-radius: 24px;
  border: 2px solid #2ca6e0;
  width: 100%;
  max-width: 300px;
  text-align: left;
  vertical-align: middle;
}

.homepage section.workspace .wrap .inner .workspace-text a.btn img {
  margin-left: 30%;
}

.homepage section.workspace .wrap .inner .workspace-text a.btn:hover {
  color: #ffffff;
  background-color: #2ca6e0;
}

.homepage section.workspace .wrap .inner .workspace-text a.btn::after {
  content: url(../images/g821.png);
  display: inline-block;
  vertical-align: middle;
  transform: scale(0.5);
  margin-left: 15%;
}

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIl9yZXNldC5zY3NzIiwic3R5bGUuY3NzIiwiX2hlYWRlci5zY3NzIiwiX3ZhcmlhYmxlcy5zY3NzIiwiX21haW4uc2NzcyIsIl9ob21lcGFnZS5zY3NzIiwiaG9tZS9fc2VydmljZXMuc2NzcyIsImhvbWUvX3dvcmtzcGFjZS5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBOzs7Ozs7Q0NNQztBREVEOzs7Ozs7Ozs7Ozs7RUFZRSxTQUFRO0VBQ1IsVUFBUztFQUNULFNBQVE7RUFDUixVQUFTO0VBQ1QsZUFBYztFQUNkLHdCQUF1QjtFQUN2Qix1QkFBc0I7QUNBeEI7O0FER0E7RUFDRSxjQUFhO0FDQWY7O0FER0E7O0VBRUUsY0FBYTtBQ0FmOztBREdBO0VBQ0UsZ0JBQWU7QUNBakI7O0FER0E7RUFDRSxZQUFXO0FDQWI7O0FER0E7O0VBRUUsV0FBVTtFQUNWLGFBQVk7QUNBZDs7QURHQTtFQUNFLFNBQVE7RUFDUixVQUFTO0VBQ1QsZUFBYztFQUNkLHdCQUF1QjtFQUN2Qix1QkFBc0I7QUNBeEI7O0FER0Esc0NBQUE7QUFDQTtFQUNFLHNCQUFxQjtFQUNyQixXQUFVO0VBQ1YscUJBQW9CO0FDQXRCOztBREdBLHNDQUFBO0FBQ0E7RUFDRSxzQkFBcUI7RUFDckIsV0FBVTtFQUNWLGtCQUFpQjtFQUNqQixpQkFBZ0I7QUNBbEI7O0FER0E7RUFDRSw2QkFBNkI7QUNBL0I7O0FER0E7RUFDRSx5QkFBd0I7RUFDeEIsWUFBVztBQ0FiOztBREdBO0VBQ0UseUJBQXdCO0VBQ3hCLGlCQUFnQjtBQ0FsQjs7QURHQSw0Q0FBQTtBQUNBO0VBQ0UsY0FBYTtFQUNiLFdBQVU7RUFDVixTQUFRO0VBQ1IsNkJBQTRCO0VBQzVCLGFBQVk7RUFDWixVQUFTO0FDQVg7O0FER0E7RUFDRSxzQkFBcUI7QUNBdkI7O0FDcEdBO0VBQ0ksZ0JBQWdCO0VBQ2hCLGlCQUFpQjtFQUNqQix1QkFBdUI7QUR1RzNCOztBQzFHQTtFQU1RLFlBQVk7QUR3R3BCOztBQzlHQTtFQVFZLDBCQUEwQjtBRDBHdEM7O0FDbEhBO0VBVWdCLDRCQ1JEO0FGb0hmOztBQ3RIQTtFQWVRLGNBQWM7QUQyR3RCOztBQzFIQTtFQWtCUSxnQ0FBZ0M7RUFDaEMsbUJBQW1CO0VBQ25CLGdCQUFnQjtBRDRHeEI7O0FHaElBO0VBQ0ksa0JBQWtCO0FIbUl0Qjs7QUlwSUE7RUNFSSxXQUFXO0FMc0lmOztBSXhJQTtFRW1DSSxhQWxCd0I7QU4ySDVCOztBSTVJQTtFRTBDWSxZQUFZO0VBQ1osY0FBYTtFQUNiLFVBQVU7QU5zR3RCOztBSWxKQTtFRThDZ0IsdUJBQXVCO0VBQ3ZCLHlCQUF5QjtFQUN6QixvQkFBb0I7QU53R3BDOztBSXhKQTtFRWtEb0IsY0FBYztFQUNkLGlCQUFpQjtBTjBHckM7O0FJN0pBO0VFc0RvQiwyQkFBMkI7RUFDM0IscUJBQXFCO0VBQ3JCLGNBcENFO0VBcUNGLGNBQWM7RUFDZCx5QkFBeUI7RUFDekIsNkJBQTZCO0VBQzdCLDhCQUE4QjtFQUM5QixpQ0FBaUM7RUFDakMsNEJBQTRCO0FOMkdoRDs7QUl6S0E7RUVrRW9CLGNBQWM7RUFDZCxpQkFBaUI7QU4yR3JDOztBSTlLQTtFRXFFd0IsZUFBZTtFQUNmLG1CQUFtQjtBTjZHM0M7O0FJbkxBO0VFd0JJLGNBSmtCO0VBS2xCLHlCQUF5QjtFQUN6QixtQkFBbUI7RUFDbkIseUJBUGtCO0VBUWxCLFdBQVc7RUFDWCxnQkFBZ0I7RUFDaEIsZ0JBQWdCO0VBQ2hCLHNCQUFzQjtBTitKMUI7O0FJOUxBO0VFMkU0QixnQkFBZ0I7QU51SDVDOztBSWxNQTtFRThFNEIsY0FBYztFQUNkLHlCQTNETjtBTm1MdEI7O0FJdk1BO0VFa0Y0QixnQ0FBYztFQUNkLHFCQUFxQjtFQUNyQixzQkFBc0I7RUFFdEIscUJBQXFCO0VBQ3JCLGdCQUFnQjtBTnlINUMiLCJmaWxlIjoic3R5bGUuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiLypcclxuaHRtbDVkb2N0b3IuY29tIFJlc2V0IFN0eWxlc2hlZXRcclxudjEuNi4xXHJcbkxhc3QgVXBkYXRlZDogMjAxMC0wOS0xN1xyXG5BdXRob3I6IFJpY2hhcmQgQ2xhcmsgLSBodHRwOi8vcmljaGNsYXJrZGVzaWduLmNvbVxyXG5Ud2l0dGVyOiBAcmljaF9jbGFya1xyXG4qL1xyXG5cclxuaHRtbCwgYm9keSwgZGl2LCBzcGFuLCBvYmplY3QsIGlmcmFtZSxcclxuaDEsIGgyLCBoMywgaDQsIGg1LCBoNiwgcCwgYmxvY2txdW90ZSwgcHJlLFxyXG5hYmJyLCBhZGRyZXNzLCBjaXRlLCBjb2RlLFxyXG5kZWwsIGRmbiwgZW0sIGltZywgaW5zLCBrYmQsIHEsIHNhbXAsXHJcbnNtYWxsLCBzdHJvbmcsIHN1Yiwgc3VwLCB2YXIsXHJcbmIsIGksXHJcbmRsLCBkdCwgZGQsIG9sLCB1bCwgbGksXHJcbmZpZWxkc2V0LCBmb3JtLCBsYWJlbCwgbGVnZW5kLFxyXG50YWJsZSwgY2FwdGlvbiwgdGJvZHksIHRmb290LCB0aGVhZCwgdHIsIHRoLCB0ZCxcclxuYXJ0aWNsZSwgYXNpZGUsIGNhbnZhcywgZGV0YWlscywgZmlnY2FwdGlvbiwgZmlndXJlLFxyXG5mb290ZXIsIGhlYWRlciwgaGdyb3VwLCBtZW51LCBuYXYsIHNlY3Rpb24sIHN1bW1hcnksXHJcbnRpbWUsIG1hcmssIGF1ZGlvLCB2aWRlbyB7XHJcbiAgbWFyZ2luOjA7XHJcbiAgcGFkZGluZzowO1xyXG4gIGJvcmRlcjowO1xyXG4gIG91dGxpbmU6MDtcclxuICBmb250LXNpemU6MTAwJTtcclxuICB2ZXJ0aWNhbC1hbGlnbjpiYXNlbGluZTtcclxuICBiYWNrZ3JvdW5kOnRyYW5zcGFyZW50O1xyXG59XHJcblxyXG5ib2R5IHtcclxuICBsaW5lLWhlaWdodDoxO1xyXG59XHJcblxyXG5hcnRpY2xlLGFzaWRlLGRldGFpbHMsZmlnY2FwdGlvbixmaWd1cmUsXHJcbmZvb3RlcixoZWFkZXIsaGdyb3VwLG1lbnUsbmF2LHNlY3Rpb24ge1xyXG4gIGRpc3BsYXk6YmxvY2s7XHJcbn1cclxuXHJcbm5hdiB1bCB7XHJcbiAgbGlzdC1zdHlsZTpub25lO1xyXG59XHJcblxyXG5ibG9ja3F1b3RlLCBxIHtcclxuICBxdW90ZXM6bm9uZTtcclxufVxyXG5cclxuYmxvY2txdW90ZTpiZWZvcmUsIGJsb2NrcXVvdGU6YWZ0ZXIsXHJcbnE6YmVmb3JlLCBxOmFmdGVyIHtcclxuICBjb250ZW50OicnO1xyXG4gIGNvbnRlbnQ6bm9uZTtcclxufVxyXG5cclxuYSB7XHJcbiAgbWFyZ2luOjA7XHJcbiAgcGFkZGluZzowO1xyXG4gIGZvbnQtc2l6ZToxMDAlO1xyXG4gIHZlcnRpY2FsLWFsaWduOmJhc2VsaW5lO1xyXG4gIGJhY2tncm91bmQ6dHJhbnNwYXJlbnQ7XHJcbn1cclxuXHJcbi8qIGNoYW5nZSBjb2xvdXJzIHRvIHN1aXQgeW91ciBuZWVkcyAqL1xyXG5pbnMge1xyXG4gIGJhY2tncm91bmQtY29sb3I6I2ZmOTtcclxuICBjb2xvcjojMDAwO1xyXG4gIHRleHQtZGVjb3JhdGlvbjpub25lO1xyXG59XHJcblxyXG4vKiBjaGFuZ2UgY29sb3VycyB0byBzdWl0IHlvdXIgbmVlZHMgKi9cclxubWFyayB7XHJcbiAgYmFja2dyb3VuZC1jb2xvcjojZmY5O1xyXG4gIGNvbG9yOiMwMDA7XHJcbiAgZm9udC1zdHlsZTppdGFsaWM7XHJcbiAgZm9udC13ZWlnaHQ6Ym9sZDtcclxufVxyXG5cclxuZGVsIHtcclxuICB0ZXh0LWRlY29yYXRpb246IGxpbmUtdGhyb3VnaDtcclxufVxyXG5cclxuYWJiclt0aXRsZV0sIGRmblt0aXRsZV0ge1xyXG4gIGJvcmRlci1ib3R0b206MXB4IGRvdHRlZDtcclxuICBjdXJzb3I6aGVscDtcclxufVxyXG5cclxudGFibGUge1xyXG4gIGJvcmRlci1jb2xsYXBzZTpjb2xsYXBzZTtcclxuICBib3JkZXItc3BhY2luZzowO1xyXG59XHJcblxyXG4vKiBjaGFuZ2UgYm9yZGVyIGNvbG91ciB0byBzdWl0IHlvdXIgbmVlZHMgKi9cclxuaHIge1xyXG4gIGRpc3BsYXk6YmxvY2s7XHJcbiAgaGVpZ2h0OjFweDtcclxuICBib3JkZXI6MDtcclxuICBib3JkZXItdG9wOjFweCBzb2xpZCAjY2NjY2NjO1xyXG4gIG1hcmdpbjoxZW0gMDtcclxuICBwYWRkaW5nOjA7XHJcbn1cclxuXHJcbmlucHV0LCBzZWxlY3Qge1xyXG4gIHZlcnRpY2FsLWFsaWduOm1pZGRsZTtcclxufSIsIi8qXHJcbmh0bWw1ZG9jdG9yLmNvbSBSZXNldCBTdHlsZXNoZWV0XHJcbnYxLjYuMVxyXG5MYXN0IFVwZGF0ZWQ6IDIwMTAtMDktMTdcclxuQXV0aG9yOiBSaWNoYXJkIENsYXJrIC0gaHR0cDovL3JpY2hjbGFya2Rlc2lnbi5jb21cclxuVHdpdHRlcjogQHJpY2hfY2xhcmtcclxuKi9cbmh0bWwsIGJvZHksIGRpdiwgc3Bhbiwgb2JqZWN0LCBpZnJhbWUsXG5oMSwgaDIsIGgzLCBoNCwgaDUsIGg2LCBwLCBibG9ja3F1b3RlLCBwcmUsXG5hYmJyLCBhZGRyZXNzLCBjaXRlLCBjb2RlLFxuZGVsLCBkZm4sIGVtLCBpbWcsIGlucywga2JkLCBxLCBzYW1wLFxuc21hbGwsIHN0cm9uZywgc3ViLCBzdXAsIHZhcixcbmIsIGksXG5kbCwgZHQsIGRkLCBvbCwgdWwsIGxpLFxuZmllbGRzZXQsIGZvcm0sIGxhYmVsLCBsZWdlbmQsXG50YWJsZSwgY2FwdGlvbiwgdGJvZHksIHRmb290LCB0aGVhZCwgdHIsIHRoLCB0ZCxcbmFydGljbGUsIGFzaWRlLCBjYW52YXMsIGRldGFpbHMsIGZpZ2NhcHRpb24sIGZpZ3VyZSxcbmZvb3RlciwgaGVhZGVyLCBoZ3JvdXAsIG1lbnUsIG5hdiwgc2VjdGlvbiwgc3VtbWFyeSxcbnRpbWUsIG1hcmssIGF1ZGlvLCB2aWRlbyB7XG4gIG1hcmdpbjogMDtcbiAgcGFkZGluZzogMDtcbiAgYm9yZGVyOiAwO1xuICBvdXRsaW5lOiAwO1xuICBmb250LXNpemU6IDEwMCU7XG4gIHZlcnRpY2FsLWFsaWduOiBiYXNlbGluZTtcbiAgYmFja2dyb3VuZDogdHJhbnNwYXJlbnQ7XG59XG5cbmJvZHkge1xuICBsaW5lLWhlaWdodDogMTtcbn1cblxuYXJ0aWNsZSwgYXNpZGUsIGRldGFpbHMsIGZpZ2NhcHRpb24sIGZpZ3VyZSxcbmZvb3RlciwgaGVhZGVyLCBoZ3JvdXAsIG1lbnUsIG5hdiwgc2VjdGlvbiB7XG4gIGRpc3BsYXk6IGJsb2NrO1xufVxuXG5uYXYgdWwge1xuICBsaXN0LXN0eWxlOiBub25lO1xufVxuXG5ibG9ja3F1b3RlLCBxIHtcbiAgcXVvdGVzOiBub25lO1xufVxuXG5ibG9ja3F1b3RlOmJlZm9yZSwgYmxvY2txdW90ZTphZnRlcixcbnE6YmVmb3JlLCBxOmFmdGVyIHtcbiAgY29udGVudDogJyc7XG4gIGNvbnRlbnQ6IG5vbmU7XG59XG5cbmEge1xuICBtYXJnaW46IDA7XG4gIHBhZGRpbmc6IDA7XG4gIGZvbnQtc2l6ZTogMTAwJTtcbiAgdmVydGljYWwtYWxpZ246IGJhc2VsaW5lO1xuICBiYWNrZ3JvdW5kOiB0cmFuc3BhcmVudDtcbn1cblxuLyogY2hhbmdlIGNvbG91cnMgdG8gc3VpdCB5b3VyIG5lZWRzICovXG5pbnMge1xuICBiYWNrZ3JvdW5kLWNvbG9yOiAjZmY5O1xuICBjb2xvcjogIzAwMDtcbiAgdGV4dC1kZWNvcmF0aW9uOiBub25lO1xufVxuXG4vKiBjaGFuZ2UgY29sb3VycyB0byBzdWl0IHlvdXIgbmVlZHMgKi9cbm1hcmsge1xuICBiYWNrZ3JvdW5kLWNvbG9yOiAjZmY5O1xuICBjb2xvcjogIzAwMDtcbiAgZm9udC1zdHlsZTogaXRhbGljO1xuICBmb250LXdlaWdodDogYm9sZDtcbn1cblxuZGVsIHtcbiAgdGV4dC1kZWNvcmF0aW9uOiBsaW5lLXRocm91Z2g7XG59XG5cbmFiYnJbdGl0bGVdLCBkZm5bdGl0bGVdIHtcbiAgYm9yZGVyLWJvdHRvbTogMXB4IGRvdHRlZDtcbiAgY3Vyc29yOiBoZWxwO1xufVxuXG50YWJsZSB7XG4gIGJvcmRlci1jb2xsYXBzZTogY29sbGFwc2U7XG4gIGJvcmRlci1zcGFjaW5nOiAwO1xufVxuXG4vKiBjaGFuZ2UgYm9yZGVyIGNvbG91ciB0byBzdWl0IHlvdXIgbmVlZHMgKi9cbmhyIHtcbiAgZGlzcGxheTogYmxvY2s7XG4gIGhlaWdodDogMXB4O1xuICBib3JkZXI6IDA7XG4gIGJvcmRlci10b3A6IDFweCBzb2xpZCAjY2NjY2NjO1xuICBtYXJnaW46IDFlbSAwO1xuICBwYWRkaW5nOiAwO1xufVxuXG5pbnB1dCwgc2VsZWN0IHtcbiAgdmVydGljYWwtYWxpZ246IG1pZGRsZTtcbn1cblxuaGVhZGVyIHtcbiAgcGFkZGluZzogMCAxMjBweDtcbiAgZm9udC13ZWlnaHQ6IGJvbGQ7XG4gIGJhY2tncm91bmQtY29sb3I6IHdoaXRlO1xufVxuXG5oZWFkZXIgLm5hdi1jZW50ZXIge1xuICBmbGV4LWdyb3c6IDE7XG59XG5cbmhlYWRlciAubmF2LWNlbnRlciAubmF2LWl0ZW0ge1xuICBib3JkZXItYm90dG9tOiBzb2xpZCB3aGl0ZTtcbn1cblxuaGVhZGVyIC5uYXYtY2VudGVyIC5uYXYtaXRlbTpob3ZlciB7XG4gIGJvcmRlci1ib3R0b20tY29sb3I6ICMyQ0E2RTA7XG59XG5cbmhlYWRlciAubmF2LWl0ZW0ge1xuICBtYXJnaW46IDAgMTVweDtcbn1cblxuaGVhZGVyIC5uYXYtaW5mby1idXR0b24ge1xuICBib3gtc2hhZG93OiAwcHggMHB4IDNweCAxcHggZ3JleTtcbiAgYm9yZGVyLXJhZGl1czogNTBweDtcbiAgcGFkZGluZzogMCAxLjVlbTtcbn1cblxubWFpbiB7XG4gIG1hcmdpbjogYXV0byAxMjBweDtcbn1cblxuLmhvbWVwYWdlIC5zZXJ2aWNlcyB7XG4gIHdpZHRoOiAxMDAlO1xufVxuXG4uaG9tZXBhZ2Ugc2VjdGlvbi53b3Jrc3BhY2Uge1xuICBoZWlnaHQ6IDgwMHB4O1xufVxuXG4uaG9tZXBhZ2Ugc2VjdGlvbi53b3Jrc3BhY2UgLndyYXAgLmlubmVyIHtcbiAgaGVpZ2h0OiAxMDAlO1xuICBjb2xvcjogI2ZmZmZmZjtcbiAgei1pbmRleDogMTtcbn1cblxuLmhvbWVwYWdlIHNlY3Rpb24ud29ya3NwYWNlIC53cmFwIC5pbm5lciAud29ya3NwYWNlLXRpdGxlIHtcbiAgLW1zLXdyaXRpbmctbW9kZTogdGItcmw7XG4gIHdyaXRpbmctbW9kZTogdmVydGljYWwtbHI7XG4gIG1hcmdpbi1ib3R0b206IDE1MHB4O1xufVxuXG4uaG9tZXBhZ2Ugc2VjdGlvbi53b3Jrc3BhY2UgLndyYXAgLmlubmVyIC53b3Jrc3BhY2UtdGl0bGUgaDIge1xuICBjb2xvcjogIzMzMzMzMztcbiAgZm9udC1zaXplOiAyLjJyZW07XG59XG5cbi5ob21lcGFnZSBzZWN0aW9uLndvcmtzcGFjZSAud3JhcCAuaW5uZXIgLndvcmtzcGFjZS10aXRsZTo6YmVmb3JlIHtcbiAgY29udGVudDogXCJDby1Xb3JraW5nIFNwYWNlXCI7XG4gIGRpc3BsYXk6IGlubGluZS1ibG9jaztcbiAgY29sb3I6ICMyY2E2ZTA7XG4gIHBhZGRpbmc6IDVweCAwO1xuICB0cmFuc2Zvcm06IHJvdGF0ZSgxODBkZWcpO1xuICAtbXMtdHJhbnNmb3JtOiByb3RhdGUoMTgwZGVnKTtcbiAgLW1vei10cmFuc2Zvcm06IHJvdGF0ZSgxODBkZWcpO1xuICAtd2Via2l0LXRyYW5zZm9ybTogcm90YXRlKDE4MGRlZyk7XG4gIC1vLXRyYW5zZm9ybTogcm90YXRlKDE4MGRlZyk7XG59XG5cbi5ob21lcGFnZSBzZWN0aW9uLndvcmtzcGFjZSAud3JhcCAuaW5uZXIgLndvcmtzcGFjZS10ZXh0IHtcbiAgY29sb3I6ICMzMzMzMzM7XG4gIGZvbnQtc2l6ZTogMS4ycmVtO1xufVxuXG4uaG9tZXBhZ2Ugc2VjdGlvbi53b3Jrc3BhY2UgLndyYXAgLmlubmVyIC53b3Jrc3BhY2UtdGV4dCBwIHtcbiAgZm9udC1zaXplOiAxNnB4O1xuICBtYXJnaW4tYm90dG9tOiA2MHB4O1xufVxuXG4uaG9tZXBhZ2Ugc2VjdGlvbi53b3Jrc3BhY2UgLndyYXAgLmlubmVyIC53b3Jrc3BhY2UtdGV4dCBhLmJ0biB7XG4gIGNvbG9yOiAjMmNhNmUwO1xuICBiYWNrZ3JvdW5kLWNvbG9yOiAjZmZmZmZmO1xuICBib3JkZXItcmFkaXVzOiAyNHB4O1xuICBib3JkZXI6IDJweCBzb2xpZCAjMmNhNmUwO1xuICB3aWR0aDogMTAwJTtcbiAgbWF4LXdpZHRoOiAzMDBweDtcbiAgdGV4dC1hbGlnbjogbGVmdDtcbiAgdmVydGljYWwtYWxpZ246IG1pZGRsZTtcbn1cblxuLmhvbWVwYWdlIHNlY3Rpb24ud29ya3NwYWNlIC53cmFwIC5pbm5lciAud29ya3NwYWNlLXRleHQgYS5idG4gaW1nIHtcbiAgbWFyZ2luLWxlZnQ6IDMwJTtcbn1cblxuLmhvbWVwYWdlIHNlY3Rpb24ud29ya3NwYWNlIC53cmFwIC5pbm5lciAud29ya3NwYWNlLXRleHQgYS5idG46aG92ZXIge1xuICBjb2xvcjogI2ZmZmZmZjtcbiAgYmFja2dyb3VuZC1jb2xvcjogIzJjYTZlMDtcbn1cblxuLmhvbWVwYWdlIHNlY3Rpb24ud29ya3NwYWNlIC53cmFwIC5pbm5lciAud29ya3NwYWNlLXRleHQgYS5idG46OmFmdGVyIHtcbiAgY29udGVudDogdXJsKC4uL2ltYWdlcy9nODIxLnBuZyk7XG4gIGRpc3BsYXk6IGlubGluZS1ibG9jaztcbiAgdmVydGljYWwtYWxpZ246IG1pZGRsZTtcbiAgLXdlYmtpdC10cmFuc2Zvcm06IHNjYWxlKDAuNSk7XG4gIHRyYW5zZm9ybTogc2NhbGUoMC41KTtcbiAgbWFyZ2luLWxlZnQ6IDE1JTtcbn1cbiIsImhlYWRlcntcclxuICAgIHBhZGRpbmc6IDAgMTIwcHg7XHJcbiAgICBmb250LXdlaWdodDogYm9sZDtcclxuICAgIGJhY2tncm91bmQtY29sb3I6IHdoaXRlO1xyXG4gICAgLy8g44K/44K544Kv77ySXHJcbiAgICAubmF2LWNlbnRlciB7XHJcbiAgICAgICAgZmxleC1ncm93OiAxO1xyXG4gICAgICAgIC5uYXYtaXRlbSB7XHJcbiAgICAgICAgICAgIGJvcmRlci1ib3R0b206IHNvbGlkIHdoaXRlO1xyXG4gICAgICAgICAgICAmOmhvdmVyIHtcclxuICAgICAgICAgICAgICAgIGJvcmRlci1ib3R0b20tY29sb3I6ICRibHVlMTtcclxuICAgICAgICAgICAgfVxyXG4gICAgICAgIH1cclxuICAgIH1cclxuICAgIC5uYXYtaXRlbSB7XHJcbiAgICAgICAgbWFyZ2luOiAwIDE1cHg7XHJcbiAgICB9XHJcbiAgICAubmF2LWluZm8tYnV0dG9uIHtcclxuICAgICAgICBib3gtc2hhZG93OiAwcHggMHB4IDNweCAxcHggZ3JleTtcclxuICAgICAgICBib3JkZXItcmFkaXVzOiA1MHB4O1xyXG4gICAgICAgIHBhZGRpbmc6IDAgMS41ZW07XHJcbiAgICB9XHJcbn0iLCIvLyDoibLmg4XloLHjga/jgZPjgaHjgonjgavoqJjlhaXjgZnjgovjgIJb5L6LXSAkYmxhY2sxOiAjMDAwO1xyXG4kYmxhY2sxOiAjMDAwO1xyXG4kYmx1ZTE6ICMyQ0E2RTA7IiwibWFpbntcclxuICAgIG1hcmdpbjogYXV0byAxMjBweDtcclxufVxyXG4udG9wX2Jhbm5lcntcclxuICAgIC8vIOOCv+OCueOCrzEyXHJcbn0iLCIuaG9tZXBhZ2V7XHJcbiAgICBAaW1wb3J0ICdob21lL3RvcF9hYm91dCc7XHJcbiAgICBAaW1wb3J0ICdob21lL3NlcnZpY2VzJztcclxuICAgIEBpbXBvcnQgJ2hvbWUvd29ya3NwYWNlJztcclxuICAgIEBpbXBvcnQgJ2hvbWUvZXZlbnRzJztcclxuICAgIEBpbXBvcnQgJ2hvbWUvbmV3cyc7XHJcbiAgICBAaW1wb3J0ICdob21lL2NvbnRhY3QnO1xyXG59IiwiLnNlcnZpY2Vze1xyXG4gICAgLy8g44K/44K544Kv77yUXHJcbiAgICB3aWR0aDogMTAwJTtcclxufSIsIi8vIOiDjOaZr+eUu+WDj+OBruODkeOCuVxyXG4kaW1nLXBhdGg6ICcuLi9pbWFnZXMvJztcclxuXHJcbi8vIOWlpeWBtOOBruiDjOaZr+eUu+WDj+ioreWumueUqFxyXG5AbWl4aW4gYmctaW1nKCR2YWx1ZSl7XHJcbiAgICBiYWNrZ3JvdW5kLWltYWdlOiB1cmwoJyN7JGltZy1wYXRofSN7JHZhbHVlfScpO1xyXG4gICAgYmFja2dyb3VuZC1zaXplOiBjb3ZlcjtcclxuICAgIGJhY2tncm91bmQtcmVwZWF0OiBuby1yZXBlYXQ7XHJcbiAgICBiYWNrZ3JvdW5kLXBvc2l0aW9uOiBjZW50ZXI7XHJcbn1cclxuLy/miYvliY3lgbTjga7og4zmma/nlLvlg4/oqK3lrprnlKhcclxuQG1peGluIGJnLXdyYXAoJHZhbHVlKXtcclxuICAgIHdpZHRoOiAxMDAlO1xyXG4gICAgaGVpZ2h0OiAxMDAlO1xyXG4gICAgYmFja2dyb3VuZC1jb2xvcjogJHZhbHVlO1xyXG59XHJcbi8v44K744Kv44K344On44Oz44Kz44Oz44OG44Oz44OE44Gu6auY44GVXHJcbiRzZWM1LWNvbnRlbnRzLWhlaWdodDogODAwcHg7XHJcblxyXG4vLyDjgqLjgq/jgrvjg7Pjg4jjgqvjg6njg7xcclxuJGFjY2VudC1jb2xvcjogIzJjYTZlMDtcclxuXHJcbi8vIOODnOOCv+ODs1xyXG5AbWl4aW4gYnV0dG9ue1xyXG4gICAgY29sb3I6ICRhY2NlbnQtY29sb3I7XHJcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiAjZmZmZmZmO1xyXG4gICAgYm9yZGVyLXJhZGl1czogMjRweDtcclxuICAgIGJvcmRlcjogMnB4IHNvbGlkICRhY2NlbnQtY29sb3I7XHJcbiAgICB3aWR0aDogMTAwJTtcclxuICAgIG1heC13aWR0aDogMzAwcHg7XHJcbiAgICB0ZXh0LWFsaWduOiBsZWZ0O1xyXG4gICAgdmVydGljYWwtYWxpZ246IG1pZGRsZTtcclxufVxyXG5cclxuc2VjdGlvbi53b3Jrc3BhY2V7XHJcbiAgICBoZWlnaHQ6ICRzZWM1LWNvbnRlbnRzLWhlaWdodDtcclxuICAgIC8vIOS4gOeVquW+jOOBruiDjOaZr+eUu+WDj1xyXG4gICAgLy8gQGluY2x1ZGUgYmctaW1nKCdob21lLWJnMDMuanBnJyk7XHJcbiAgICAud3JhcHtcclxuICAgICAgICAvLyDmiYvliY3jga7og4zmma/nlLvlg49cclxuICAgICAgICAvLyBAaW5jbHVkZSBiZy13cmFwKCNhZGI1YmQpO1xyXG4gICAgICAgIC5pbm5lcntcclxuICAgICAgICAgICAgaGVpZ2h0OiAxMDAlO1xyXG4gICAgICAgICAgICBjb2xvcjojZmZmZmZmO1xyXG4gICAgICAgICAgICB6LWluZGV4OiAxO1xyXG4gICAgICAgICAgICAud29ya3NwYWNlLXRpdGxle1xyXG4gICAgICAgICAgICAgICAgLW1zLXdyaXRpbmctbW9kZTogdGItcmw7XHJcbiAgICAgICAgICAgICAgICB3cml0aW5nLW1vZGU6IHZlcnRpY2FsLWxyO1xyXG4gICAgICAgICAgICAgICAgbWFyZ2luLWJvdHRvbTogMTUwcHg7XHJcbiAgICAgICAgICAgICAgICBoMntcclxuICAgICAgICAgICAgICAgICAgICBjb2xvcjogIzMzMzMzMztcclxuICAgICAgICAgICAgICAgICAgICBmb250LXNpemU6IDIuMnJlbTtcclxuICAgICAgICAgICAgICAgIH1cclxuICAgICAgICAgICAgICAgICY6OmJlZm9yZXtcclxuICAgICAgICAgICAgICAgICAgICBjb250ZW50OiBcIkNvLVdvcmtpbmcgU3BhY2VcIjtcclxuICAgICAgICAgICAgICAgICAgICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XHJcbiAgICAgICAgICAgICAgICAgICAgY29sb3I6ICRhY2NlbnQtY29sb3I7XHJcbiAgICAgICAgICAgICAgICAgICAgcGFkZGluZzogNXB4IDA7XHJcbiAgICAgICAgICAgICAgICAgICAgdHJhbnNmb3JtOiByb3RhdGUoMTgwZGVnKTtcclxuICAgICAgICAgICAgICAgICAgICAtbXMtdHJhbnNmb3JtOiByb3RhdGUoMTgwZGVnKTtcclxuICAgICAgICAgICAgICAgICAgICAtbW96LXRyYW5zZm9ybTogcm90YXRlKDE4MGRlZyk7XHJcbiAgICAgICAgICAgICAgICAgICAgLXdlYmtpdC10cmFuc2Zvcm06IHJvdGF0ZSgxODBkZWcpO1xyXG4gICAgICAgICAgICAgICAgICAgIC1vLXRyYW5zZm9ybTogcm90YXRlKDE4MGRlZyk7XHJcbiAgICAgICAgICAgICAgICAgICAgfVxyXG4gICAgICAgICAgICAgICAgfVxyXG4gICAgICAgICAgICAgICAgLndvcmtzcGFjZS10ZXh0e1xyXG4gICAgICAgICAgICAgICAgICAgIGNvbG9yOiAjMzMzMzMzO1xyXG4gICAgICAgICAgICAgICAgICAgIGZvbnQtc2l6ZTogMS4ycmVtO1xyXG4gICAgICAgICAgICAgICAgICAgIHB7XHJcbiAgICAgICAgICAgICAgICAgICAgICAgIGZvbnQtc2l6ZTogMTZweDtcclxuICAgICAgICAgICAgICAgICAgICAgICAgbWFyZ2luLWJvdHRvbTogNjBweDtcclxuICAgICAgICAgICAgICAgICAgICB9XHJcbiAgICAgICAgICAgICAgICAgICAgYS5idG4ge1xyXG4gICAgICAgICAgICAgICAgICAgICAgICBAaW5jbHVkZSBidXR0b247XHJcbiAgICAgICAgICAgICAgICAgICAgICAgIGltZ3tcclxuICAgICAgICAgICAgICAgICAgICAgICAgICAgIG1hcmdpbi1sZWZ0OiAzMCU7XHJcbiAgICAgICAgICAgICAgICAgICAgICAgIH1cclxuICAgICAgICAgICAgICAgICAgICAgICAgJjpob3ZlcntcclxuICAgICAgICAgICAgICAgICAgICAgICAgICAgIGNvbG9yOiAjZmZmZmZmO1xyXG4gICAgICAgICAgICAgICAgICAgICAgICAgICAgYmFja2dyb3VuZC1jb2xvcjogJGFjY2VudC1jb2xvcjtcclxuICAgICAgICAgICAgICAgICAgICAgICAgfVxyXG4gICAgICAgICAgICAgICAgICAgICAgICAmOjphZnRlcntcclxuICAgICAgICAgICAgICAgICAgICAgICAgICAgIGNvbnRlbnQ6IHVybCgjeyRpbWctcGF0aH1nODIxLnBuZyk7XHJcbiAgICAgICAgICAgICAgICAgICAgICAgICAgICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XHJcbiAgICAgICAgICAgICAgICAgICAgICAgICAgICB2ZXJ0aWNhbC1hbGlnbjogbWlkZGxlO1xyXG4gICAgICAgICAgICAgICAgICAgICAgICAgICAgLXdlYmtpdC10cmFuc2Zvcm06IHNjYWxlKDAuNSk7XHJcbiAgICAgICAgICAgICAgICAgICAgICAgICAgICB0cmFuc2Zvcm06IHNjYWxlKDAuNSk7XHJcbiAgICAgICAgICAgICAgICAgICAgICAgICAgICBtYXJnaW4tbGVmdDogMTUlO1xyXG4gICAgICAgICAgICAgICAgICAgICAgICB9XHJcbiAgICAgICAgICAgICAgICAgICAgfVxyXG4gICAgICAgICAgICAgICAgfVxyXG4gICAgICAgICAgICB9XHJcbiAgICAgICAgfVxyXG59XHJcbiJdfQ== */
