/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

.none {
  display: none !important;
}

main {
  position: absolute;
  top: 80px;
}

@media (max-width: 1441px) {
  header {
    margin: 0 auto;
    padding-left: 130px;
    padding-right: 138px;
    width: 1440px;
    height: 80px;
    background-color: #fff;
  }
  header.shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(48, 51, 62, 0.2), 0 0 0 0 rgba(48, 51, 62, 0.1);
            box-shadow: 0 0 10px 0 rgba(48, 51, 62, 0.2), 0 0 0 0 rgba(48, 51, 62, 0.1);
  }
  header .dropdown-toggle::after {
    display: none;
  }
  header .show {
    position: unset;
  }
  header .show .hover-block {
    display: inline-block;
  }
  header .show .hover-none {
    display: none;
  }
  header .show .dropdown-menu.show {
    padding: 40px 100px 40px 100px;
    margin: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 1170px;
    height: 116px;
    -webkit-box-shadow: 0 0 10px 0 rgba(48, 51, 62, 0.2), 0 0 0 0 rgba(48, 51, 62, 0.1);
            box-shadow: 0 0 10px 0 rgba(48, 51, 62, 0.2), 0 0 0 0 rgba(48, 51, 62, 0.1);
  }
  header .show .dropdown-menu.show input {
    width: 970px;
    height: 34px;
    border: unset;
    border-bottom: 1px solid #f4f4f5;
  }
  header .show .dropdown-menu.show input::-webkit-input-placeholder {
    width: 255px;
    height: 24px;
    font-family: NotoSansTC;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #95959a;
  }
  header .show .dropdown-menu.show input:-ms-input-placeholder {
    width: 255px;
    height: 24px;
    font-family: NotoSansTC;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #95959a;
  }
  header .show .dropdown-menu.show input::-ms-input-placeholder {
    width: 255px;
    height: 24px;
    font-family: NotoSansTC;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #95959a;
  }
  header .show .dropdown-menu.show input::placeholder {
    width: 255px;
    height: 24px;
    font-family: NotoSansTC;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #95959a;
  }
  header .navbar {
    padding: unset;
  }
  header .navbar .logo {
    margin: 18px 0 20px 0;
    width: 130px;
    height: 42px;
    margin-right: 37px;
  }
  header .navbar ul {
    margin: unset;
  }
  header .navbar ul.tb {
    display: none;
  }
  header .navbar .hover-img {
    display: inline;
  }
  header .navbar .hover-img .hover-block {
    display: none;
  }
  header .navbar .hover-img:hover .hover-block {
    display: inline-block;
  }
  header .navbar .hover-img:hover .hover-none {
    display: none;
  }
  header .navbar .navbar-collapse ul.navbar-nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .navbar .navbar-collapse ul.navbar-nav .nav-item.news > a {
    width: 64px;
    padding: unset;
    margin: 0 30px 0 0;
    font-family: NotoSansTC;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3f4144;
  }
  header .navbar .navbar-collapse ul.navbar-nav .nav-item.service > a {
    width: 96px;
    padding: unset;
    margin: 0 30px 0 0;
    font-family: NotoSansTC;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3f4144;
  }
  header .navbar .navbar-collapse ul.navbar-nav .nav-item.space > a {
    width: 158px;
    padding: unset;
    margin: 0 30px 0 0;
    font-family: NotoSansTC;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3f4144;
  }
  header .navbar .navbar-collapse ul.navbar-nav .nav-item.access > a {
    width: 64px;
    padding: unset;
    margin: 0 30px 0 0;
    font-family: NotoSansTC;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3f4144;
  }
  header .navbar .navbar-collapse ul.navbar-nav .nav-item.about > a {
    width: 91px;
    padding: unset;
    margin: 0 30px 0 0;
    font-family: NotoSansTC;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3f4144;
  }
  header .navbar .navbar-collapse ul.navbar-nav .nav-item.event {
    width: 96px;
    height: 36px;
    margin-left: 21px;
    margin-right: 0;
    border-radius: 21px;
    -webkit-box-shadow: 0 2px 8px 0 rgba(48, 51, 62, 0.2), 0 2px 4px -2px rgba(48, 51, 62, 0.1);
            box-shadow: 0 2px 8px 0 rgba(48, 51, 62, 0.2), 0 2px 4px -2px rgba(48, 51, 62, 0.1);
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .navbar .navbar-collapse ul.navbar-nav .nav-item.event > a {
    width: 64px;
    padding: unset;
    margin: 0 30px 0 0;
    font-family: NotoSansTC;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3f4144;
  }
  header .navbar .navbar-collapse ul.navbar-nav .nav-item.event > a {
    margin: unset;
  }
  header .navbar .navbar-collapse ul.navbar-nav .nav-item.contact {
    width: 176px;
    height: 36px;
    margin-left: 20px;
    margin-right: 0;
    border-radius: 21px;
    -webkit-box-shadow: 0 2px 8px 0 rgba(48, 51, 62, 0.2), 0 2px 4px -2px rgba(48, 51, 62, 0.1);
            box-shadow: 0 2px 8px 0 rgba(48, 51, 62, 0.2), 0 2px 4px -2px rgba(48, 51, 62, 0.1);
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .navbar .navbar-collapse ul.navbar-nav .nav-item.contact > a {
    width: 129px;
    padding: unset;
    margin: 0 30px 0 0;
    font-family: NotoSansTC;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3f4144;
  }
  header .navbar .navbar-collapse ul.navbar-nav .nav-item.contact > a {
    margin: unset;
  }
  header .navbar .navbar-collapse ul.navbar-nav .nav-item.search {
    margin-left: 30px;
  }
  header .navbar .navbar-collapse ul.navbar-nav .nav-item.search img {
    width: 31px;
    height: 31px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

@media (max-width: 769px) {
  header {
    padding: unset;
    width: 768px;
  }
  header .dropdown-menu.show {
    padding: 40px 100px 40px 100px;
    margin: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 1170px;
    height: 116px;
    -webkit-box-shadow: 0 0 10px 0 rgba(48, 51, 62, 0.2), 0 0 0 0 rgba(48, 51, 62, 0.1);
            box-shadow: 0 0 10px 0 rgba(48, 51, 62, 0.2), 0 0 0 0 rgba(48, 51, 62, 0.1);
  }
  header .dropdown-menu.show input {
    width: 970px;
    height: 34px;
    border: unset;
    border-bottom: 1px solid #f4f4f5;
  }
  header .dropdown-menu.show input::-webkit-input-placeholder {
    width: 255px;
    height: 24px;
    font-family: NotoSansTC;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #95959a;
  }
  header .dropdown-menu.show input:-ms-input-placeholder {
    width: 255px;
    height: 24px;
    font-family: NotoSansTC;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #95959a;
  }
  header .dropdown-menu.show input::-ms-input-placeholder {
    width: 255px;
    height: 24px;
    font-family: NotoSansTC;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #95959a;
  }
  header .dropdown-menu.show input::placeholder {
    width: 255px;
    height: 24px;
    font-family: NotoSansTC;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #95959a;
  }
  header .navbar .logo {
    width: 121px;
    height: 39px;
    margin: 20px 0 21px 40px;
  }
  header .navbar .header-tb-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 0;
  }
  header .navbar .header-tb-right .search.hover-img {
    position: absolute;
    right: 125px;
    top: 22px;
  }
  header .navbar .header-tb-right .cancel.hover-img {
    position: absolute;
    right: 40px;
    top: 22px;
  }
  header .navbar .header-tb-right ul.tb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 17px 0;
  }
  header .navbar .header-tb-right ul.tb li.tb-contact {
    width: 214px;
    height: 46px;
    margin-left: 121px;
    margin-right: 30px;
    border-radius: 29.5px;
    -webkit-box-shadow: 0 2px 8px 0 rgba(48, 51, 62, 0.2), 0 2px 4px -2px rgba(48, 51, 62, 0.1);
            box-shadow: 0 2px 8px 0 rgba(48, 51, 62, 0.2), 0 2px 4px -2px rgba(48, 51, 62, 0.1);
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .navbar .header-tb-right ul.tb li.tb-contact > a {
    width: 154px;
    padding: unset;
    margin: 0 30px 0 0;
    font-family: NotoSansTC;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3f4144;
  }
  header .navbar .header-tb-right ul.tb li.tb-contact > a {
    margin: unset;
  }
  header .navbar .header-tb-right ul.tb li.tb-event {
    width: 137px;
    height: 46px;
    margin-left: 0;
    margin-right: 30px;
    border-radius: 29.5px;
    -webkit-box-shadow: 0 2px 8px 0 rgba(48, 51, 62, 0.2), 0 2px 4px -2px rgba(48, 51, 62, 0.1);
            box-shadow: 0 2px 8px 0 rgba(48, 51, 62, 0.2), 0 2px 4px -2px rgba(48, 51, 62, 0.1);
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .navbar .header-tb-right ul.tb li.tb-event > a {
    width: 77px;
    padding: unset;
    margin: 0 30px 0 0;
    font-family: NotoSansTC;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3f4144;
  }
  header .navbar .header-tb-right ul.tb li.tb-event > a {
    margin: unset;
  }
  header .navbar .header-tb-right ul.tb.sns {
    margin: 103px 0 143px 0;
  }
  header .navbar .header-tb-right ul.tb.sns li.tb-ins {
    margin: 0 84px 0 86px;
    background-color: gray;
  }
  header .navbar .header-tb-right img {
    width: 35px;
    height: 35px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  header .navbar .header-tb-right button.navbar-toggler {
    padding: unset;
    border: unset;
    margin-right: 40px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  header .navbar .dropdown-menu.show {
    position: absolute;
    top: 80px;
    width: 690px;
    margin: 0 39px;
    padding: 40px 60px;
  }
  header .navbar .dropdown-menu.show input {
    width: 570px;
  }
  header .navbar .navbar-collapse.collapse.show ul.navbar-nav {
    width: 706px;
    height: 944px;
    margin: 0 31px;
  }
  header .navbar .navbar-collapse.collapse.show ul.navbar-nav li.nav-item {
    margin: 50px 0 0;
  }
  header .navbar .navbar-collapse.collapse.show ul.navbar-nav li.nav-item.news > a {
    width: 76px;
    padding: unset;
    margin: 0 30px 0 0;
    font-family: NotoSansTC;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3f4144;
  }
  header .navbar .navbar-collapse.collapse.show ul.navbar-nav li.nav-item.service > a {
    width: 116px;
    padding: unset;
    margin: 0 30px 0 0;
    font-family: NotoSansTC;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3f4144;
  }
  header .navbar .navbar-collapse.collapse.show ul.navbar-nav li.nav-item.space > a {
    width: 190px;
    padding: unset;
    margin: 0 30px 0 0;
    font-family: NotoSansTC;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3f4144;
  }
  header .navbar .navbar-collapse.collapse.show ul.navbar-nav li.nav-item.access > a {
    width: 76px;
    padding: unset;
    margin: 0 30px 0 0;
    font-family: NotoSansTC;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3f4144;
  }
  header .navbar .navbar-collapse.collapse.show ul.navbar-nav li.nav-item.about > a {
    width: 112px;
    padding: unset;
    margin: 0 30px 0 0;
    font-family: NotoSansTC;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3f4144;
  }
  header .navbar .navbar-collapse.collapse.show ul.navbar-nav li.nav-item.event {
    width: 137px;
    height: 46px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 29.5px;
    -webkit-box-shadow: 0 2px 8px 0 rgba(48, 51, 62, 0.2), 0 2px 4px -2px rgba(48, 51, 62, 0.1);
            box-shadow: 0 2px 8px 0 rgba(48, 51, 62, 0.2), 0 2px 4px -2px rgba(48, 51, 62, 0.1);
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 90px;
  }
  header .navbar .navbar-collapse.collapse.show ul.navbar-nav li.nav-item.event > a {
    width: 77px;
    padding: unset;
    margin: 0 30px 0 0;
    font-family: NotoSansTC;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3f4144;
  }
  header .navbar .navbar-collapse.collapse.show ul.navbar-nav li.nav-item.event > a {
    margin: unset;
  }
  header .navbar .navbar-collapse.collapse.show ul.navbar-nav li.nav-item.contact {
    width: 214px;
    height: 46px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 29.5px;
    -webkit-box-shadow: 0 2px 8px 0 rgba(48, 51, 62, 0.2), 0 2px 4px -2px rgba(48, 51, 62, 0.1);
            box-shadow: 0 2px 8px 0 rgba(48, 51, 62, 0.2), 0 2px 4px -2px rgba(48, 51, 62, 0.1);
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .navbar .navbar-collapse.collapse.show ul.navbar-nav li.nav-item.contact > a {
    width: 154px;
    padding: unset;
    margin: 0 30px 0 0;
    font-family: NotoSansTC;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3f4144;
  }
  header .navbar .navbar-collapse.collapse.show ul.navbar-nav li.nav-item.contact > a {
    margin: unset;
  }
  header .navbar .navbar-collapse.collapse.show ul.navbar-nav li.nav-item a.nav-link {
    margin: unset;
  }
}

@media (max-width: 321px) {
  header {
    width: 320px;
    height: 45px;
    margin: unset;
  }
  header .navbar .logo {
    width: 78px;
    height: 25px;
    margin: 10px 0 10px 14px;
  }
  header .navbar .header-tb-right ul.tb.header {
    display: none;
  }
  header .navbar .header-tb-right ul.tb.sns {
    margin: 43px 0 46px 0;
  }
  header .navbar .header-tb-right ul.tb.sns li.tb-ins {
    margin: 0 34px 0 36px;
  }
  header .navbar .header-tb-right .search.hover-img {
    margin-right: 30px;
  }
  header .navbar .header-tb-right img {
    width: 18px;
    height: 18px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  header .navbar .header-tb-right button.navbar-toggler {
    margin-right: 14px;
  }
  header .navbar .navbar-collapse.collapse.show ul.navbar-nav {
    width: 320px;
    height: 570px;
    margin: unset;
  }
  header .navbar .navbar-collapse.collapse.show ul.navbar-nav li.nav-item {
    margin: 30px 0 0;
  }
  header .navbar .navbar-collapse.collapse.show ul.navbar-nav li.nav-item.news {
    margin-top: 20px;
  }
  header .navbar .navbar-collapse.collapse.show ul.navbar-nav li.nav-item.news > a {
    width: 64px;
    padding: unset;
    margin: 0 30px 0 0;
    font-family: NotoSansTC;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3f4144;
  }
  header .navbar .navbar-collapse.collapse.show ul.navbar-nav li.nav-item.service > a {
    width: 96px;
    padding: unset;
    margin: 0 30px 0 0;
    font-family: NotoSansTC;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3f4144;
  }
  header .navbar .navbar-collapse.collapse.show ul.navbar-nav li.nav-item.space > a {
    width: 158px;
    padding: unset;
    margin: 0 30px 0 0;
    font-family: NotoSansTC;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3f4144;
  }
  header .navbar .navbar-collapse.collapse.show ul.navbar-nav li.nav-item.access > a {
    width: 64px;
    padding: unset;
    margin: 0 30px 0 0;
    font-family: NotoSansTC;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3f4144;
  }
  header .navbar .navbar-collapse.collapse.show ul.navbar-nav li.nav-item.about > a {
    width: 91px;
    padding: unset;
    margin: 0 30px 0 0;
    font-family: NotoSansTC;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3f4144;
  }
  header .navbar .navbar-collapse.collapse.show ul.navbar-nav li.nav-item.event {
    width: 96px;
    height: 36px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 29.21px;
    -webkit-box-shadow: 0 2px 8px 0 rgba(48, 51, 62, 0.2), 0 2px 4px -2px rgba(48, 51, 62, 0.1);
            box-shadow: 0 2px 8px 0 rgba(48, 51, 62, 0.2), 0 2px 4px -2px rgba(48, 51, 62, 0.1);
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 40px;
  }
  header .navbar .navbar-collapse.collapse.show ul.navbar-nav li.nav-item.event > a {
    width: 64px;
    padding: unset;
    margin: 0 30px 0 0;
    font-family: NotoSansTC;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3f4144;
  }
  header .navbar .navbar-collapse.collapse.show ul.navbar-nav li.nav-item.event > a {
    margin: unset;
  }
  header .navbar .navbar-collapse.collapse.show ul.navbar-nav li.nav-item.contact {
    width: 176px;
    height: 36px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 21px;
    -webkit-box-shadow: 0 2px 8px 0 rgba(48, 51, 62, 0.2), 0 2px 4px -2px rgba(48, 51, 62, 0.1);
            box-shadow: 0 2px 8px 0 rgba(48, 51, 62, 0.2), 0 2px 4px -2px rgba(48, 51, 62, 0.1);
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .navbar .navbar-collapse.collapse.show ul.navbar-nav li.nav-item.contact > a {
    width: 129px;
    padding: unset;
    margin: 0 30px 0 0;
    font-family: NotoSansTC;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3f4144;
  }
  header .navbar .navbar-collapse.collapse.show ul.navbar-nav li.nav-item.contact > a {
    margin: unset;
  }
  header .navbar .navbar-collapse.collapse.show ul.navbar-nav li.nav-item a.nav-link {
    margin: unset;
  }
}

main {
  margin: auto 120px;
}

.homepage .services .services-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 48px;
  margin-bottom: 48px;
}

.homepage .services .services-container .services-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.homepage .services .services-container .services-title h2 {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  margin-right: 0;
  position: absolute;
  top: 0;
  left: 30px;
  font-size: 32px;
}

.homepage .services .services-container .services-title p {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  margin-right: 0;
  position: absolute;
  top: 0px;
  left: 10px;
  color: #6DC0EA;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.homepage .services .container .service-contents {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.homepage .services .container .service-contents p {
  font-size: 14px;
}

.homepage .services .container .service-contents .service-box1,
.homepage .services .container .service-contents .service-box2,
.homepage .services .container .service-contents .service-box3 {
  border: 1px solid #f5f5f5;
  background: white;
  min-height: 400px;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.22);
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.22);
  -webkit-transition: .3s;
  transition: .3s;
}

.homepage .services .container .service-contents .service-box1 h3,
.homepage .services .container .service-contents .service-box2 h3,
.homepage .services .container .service-contents .service-box3 h3 {
  font-size: 24px;
  font-weight: bold;
}

.homepage .services .container .service-contents .service-box1:hover,
.homepage .services .container .service-contents .service-box2:hover,
.homepage .services .container .service-contents .service-box3:hover {
  -webkit-box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.homepage .services .container .service-contents .service-box1:hover div .hover-change,
.homepage .services .container .service-contents .service-box2:hover div .hover-change,
.homepage .services .container .service-contents .service-box3:hover div .hover-change {
  color: #6DC0EA;
  -webkit-transition: .4s;
  transition: .4s;
}

.homepage .services .service-content-img .fa-comments,
.homepage .services .service-content-img .fa-print,
.homepage .services .service-content-img .fa-laptop-code {
  font-size: 80px;
  color: #6DC0EA;
}

@media screen and (max-width: 769px) {
  .homepage .services .services-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .homepage .services .services-container .services-title > p {
    -webkit-transform: inherit;
            transform: inherit;
  }
  .homepage .services .services-container .services-title {
    position: inherit;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
  .homepage .services .services-container .services-title > h2 {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    position: inherit;
    font-weight: bold;
    letter-spacing: 0.3rem;
  }
  .homepage .services .services-container .services-title > p {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    position: inherit;
  }
}

.homepage section.workspace {
  height: 800px;
}

.homepage section.workspace .wrap .inner {
  height: 100%;
  color: #ffffff;
  z-index: 1;
}

.homepage section.workspace .wrap .inner .workspace-title {
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-lr;
          writing-mode: vertical-lr;
  margin-bottom: 150px;
}

.homepage section.workspace .wrap .inner .workspace-title h2 {
  color: #333333;
  font-size: 2.2rem;
}

.homepage section.workspace .wrap .inner .workspace-title::before {
  content: "Co-Working Space";
  display: inline-block;
  color: #2ca6e0;
  padding: 5px 0;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.homepage section.workspace .wrap .inner .workspace-text {
  color: #333333;
  font-size: 1.2rem;
}

.homepage section.workspace .wrap .inner .workspace-text p {
  font-size: 16px;
  margin-bottom: 60px;
}

.homepage section.workspace .wrap .inner .workspace-text a.btn {
  color: #2ca6e0;
  background-color: #ffffff;
  border-radius: 24px;
  border: 2px solid #2ca6e0;
  width: 100%;
  max-width: 300px;
  text-align: left;
  vertical-align: middle;
}

.homepage section.workspace .wrap .inner .workspace-text a.btn img {
  margin-left: 30%;
}

.homepage section.workspace .wrap .inner .workspace-text a.btn:hover {
  color: #ffffff;
  background-color: #2ca6e0;
}

.homepage section.workspace .wrap .inner .workspace-text a.btn::after {
  content: url(../images/g821.png);
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  margin-left: 15%;
}
/*# sourceMappingURL=style.css.map */