// Made with PC First
// Implemented according to BEM rules
@import "reset";

// Variables
@import 'variables';
@import 'mixin';
@import 'header';
@import 'footer';
@import 'main';
@import 'homepage';
@import 'newspage';
@import 'servicepage';
@import 'workspacepage';
@import 'aboutpage';
@import 'contactpage';