p{
    margin: 0;
}
h3{
    margin: 0;
}

.contact{
    width: 100%;
    margin: 0 auto;
    padding-left: 7%;
    position: relative;
    
    .contact-text{
        position: absolute;
        top: 10%;
        left: 8%;
        margin-bottom: 10px;
        
        h3{
            font-weight: 500;
            font-size: 30px;
            padding-bottom: 53px;
        }
        
        .contact-text-detail{
            font-size: 16px;
        }
        
    }
    img{
        width: 100%;
        // position: static;
    }
}

@media screen and (max-width:768px){
    
    .contact{
        padding-left: 0;
        width: 100%;
        height: 420px;
        
        .contact-text{
            top: 8%;
            left: 8%;
        }
        
        img{
            width: 100%;
            position: absolute;
            bottom: 0;
            z-index: -100;
        }
        
    }
}

@media screen and (max-width:576px){
    .contact{
        position: static;
        height: auto;

        .contact-text{
            position: static;
            padding-bottom: 13px;
            margin: 0 auto;
            width: 300px;

            h3{
                font-size: 18px;
                padding-bottom: 35px;
            }

            .contact-text-detail{
                font-size: 14px;
                width: 80%;
                white-space: nowrap;
            }
        }

        img{
            position: static;
        }
    }
}