.services .services-container {
  display: flex;
  margin-top: 48px;
  margin-bottom: 48px;
}

.services .services-container .services-title {
  display: flex;
  position: relative;
}

.services .services-container .services-title h2 {
  writing-mode: vertical-rl;
  margin-right: 0;
  position: absolute;
  top: 0;
  left: 25px;
}

.services .services-container .services-title p {
  writing-mode: vertical-rl;
  margin-right: 0;
  position: absolute;
  top: 0px;
  left: 10px;
  color: #6DC0EA;
  transform: rotate(-180deg);
}

.services .container .service-contents {
  justify-content: flex-end;
}

.services .container .service-contents p {
  font-size: 14px;
}

.services .container .service-contents .service-box1,
.services .container .service-contents .service-box2,
.services .container .service-contents .service-box3 {
  border: 1px solid #f5f5f5;
  background: white;
  min-height: 400px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.22);
  transition: .3s;
}

.services .container .service-contents .service-box1 h3,
.services .container .service-contents .service-box2 h3,
.services .container .service-contents .service-box3 h3 {
  font-size: 24px;
  font-weight: bold;
}

.services .container .service-contents .service-box1:hover,
.services .container .service-contents .service-box2:hover,
.services .container .service-contents .service-box3:hover {
  box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
  transform: translateY(-4px);
}

.services .container .service-contents .service-box1:hover div .hover-change,
.services .container .service-contents .service-box2:hover div .hover-change,
.services .container .service-contents .service-box3:hover div .hover-change {
  color: #6DC0EA;
  transition: .4s;
}

.services .service-content-img .fa-comments,
.services .service-content-img .fa-print,
.services .service-content-img .fa-laptop-code {
  font-size: 80px;
  color: #6DC0EA;
}

@media screen and (max-width: 769px) {
  .services .services-container {
    flex-direction: column;
  }
  .services .services-container .services-title > p {
    transform: inherit;
  }
  .services .services-container .services-title {
    position: inherit;
    flex-direction: column-reverse;
    text-align: center;
  }
  .services .services-container .services-title > h2 {
    writing-mode: horizontal-tb;
    position: inherit;
    font-weight: bold;
    letter-spacing: 0.3rem;
  }
  .services .services-container .services-title > p {
    writing-mode: horizontal-tb;
    position: inherit;
  }
}
