.services {
  font-family: NotoSansTC;
  padding: 140px 0;
}

.services h3 {
  font-size: 18px;
  font-weight: bold;
  color: #282828;
  letter-spacing: 1.2px;
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
}

.services p {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: .8px;
  color: #282828;
  margin-bottom: 50px;
}

.services p.text-color-gray {
  color: #95959a;
  height: 44px;
  margin-bottom: 18px;
  text-align: center;
}

.services .services-container {
  max-width: 1170px;
  width: 100%;
  display: flex;
  position: relative;
}

.services .services-container .services-title h2 {
  writing-mode: vertical-rl;
  margin-right: 0;
  position: absolute;
  top: -40px;
  left: 25px;
  font-size: 30px;
  letter-spacing: 2.5px;
  color: #282828;
  font-weight: 500;
}

.services .services-container .services-title p {
  writing-mode: vertical-rl;
  margin-right: 0;
  position: absolute;
  top: -39px;
  left: 5px;
  color: #6DC0EA;
  transform: rotate(-180deg);
}

.services .services-container .service-wrap {
  max-width: 966px;
  width: 100%;
  box-sizing: border-box;
  margin-left: auto;
}

.services .services-container .service-contents {
  display: flex;
}

.services .services-container .service-contents .service-box1,
.services .services-container .service-contents .service-box2,
.services .services-container .service-contents .service-box3 {
  max-width: 322px;
  height: 580px;
  padding: 71px 28px 73px;
  border: 1px solid #f5f5f5;
  background: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.22);
  transition: .3s;
  position: relative;
}

.services .services-container .service-contents .service-box1:hover,
.services .services-container .service-contents .service-box2:hover,
.services .services-container .service-contents .service-box3:hover {
  box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
  transform: translateY(-4px);
}

.services .services-container .service-contents .service-box1:hover h3,
.services .services-container .service-contents .service-box2:hover h3,
.services .services-container .service-contents .service-box3:hover h3 {
  color: #6DC0EA;
  transition: .4s;
}

.services .services-container .service-contents .service-box1 .service-content-img,
.services .services-container .service-contents .service-box2 .service-content-img,
.services .services-container .service-contents .service-box3 .service-content-img {
  max-width: 85px;
  height: 85px;
  margin: 0 auto;
}

.services .services-container .service-contents .service-box1 .service-content-img .fa-comments,
.services .services-container .service-contents .service-box1 .service-content-img .fa-laptop-code,
.services .services-container .service-contents .service-box1 .service-content-img .fa-print,
.services .services-container .service-contents .service-box2 .service-content-img .fa-comments,
.services .services-container .service-contents .service-box2 .service-content-img .fa-laptop-code,
.services .services-container .service-contents .service-box2 .service-content-img .fa-print,
.services .services-container .service-contents .service-box3 .service-content-img .fa-comments,
.services .services-container .service-contents .service-box3 .service-content-img .fa-laptop-code,
.services .services-container .service-contents .service-box3 .service-content-img .fa-print {
  font-size: 68px;
  line-height: 85px;
  color: #6DC0EA;
}

.services .service-border-link {
  position: absolute;
  bottom: 28px;
  left: 34px;
}

.services .service-border-link::after {
  content: '';
  display: inline-block;
  width: 33px;
  height: 9px;
  background-image: url(images/btn-more-normal.png);
  background-size: contain;
}

@media screen and (max-width: 1025px) {
  .services .services-container {
    padding: 0;
  }
  .services .services-container .services-title p {
    left: 48px;
  }
  .services .services-container .services-title h2 {
    left: 68px;
  }
  .services .services-container .service-wrap {
    width: 100%;
    margin-left: 159px;
    margin-right: 39px;
  }
  .services .services-container .service-contents {
    flex-direction: column;
  }
  .services .services-container .service-contents .service-box1,
  .services .services-container .service-contents .service-box2,
  .services .services-container .service-contents .service-box3 {
    height: auto;
    padding: 30px 40px 60px;
    max-width: 100%;
  }
  .services .services-container .service-contents .service-box1 .service-content,
  .services .services-container .service-contents .service-box2 .service-content,
  .services .services-container .service-contents .service-box3 .service-content {
    display: flex;
  }
  .services .services-container .service-contents .service-box1 .service-content .service-content-img,
  .services .services-container .service-contents .service-box2 .service-content .service-content-img,
  .services .services-container .service-contents .service-box3 .service-content .service-content-img {
    margin: 0;
    margin-right: 40px;
    max-width: 60px;
    height: 60px;
  }
  .services .services-container .service-contents .service-box1 .service-content .service-content-img img,
  .services .services-container .service-contents .service-box2 .service-content .service-content-img img,
  .services .services-container .service-contents .service-box3 .service-content .service-content-img img {
    line-height: 60px;
    width: 60px;
  }
  .services .services-container .service-contents .service-box1 .service-content h3,
  .services .services-container .service-contents .service-box2 .service-content h3,
  .services .services-container .service-contents .service-box3 .service-content h3 {
    margin-top: 0;
    margin-bottom: 5px;
    text-align: left;
  }
  .services .services-container .service-contents .service-box1 .service-content .text-color-gray,
  .services .services-container .service-contents .service-box2 .service-content .text-color-gray,
  .services .services-container .service-contents .service-box3 .service-content .text-color-gray {
    height: auto;
    margin-bottom: 30px;
  }
  .services .service-border-link {
    bottom: 30px;
    left: 38px;
  }
  .services .service-border-link img {
    max-width: 100%;
    width: 60%;
  }
}

@media screen and (max-width: 426px) {
  .services .services-container {
    flex-direction: column;
    text-align: center;
  }
  .services .services-container .services-title {
    display: flex;
    flex-direction: column-reverse;
  }
  .services .services-container .services-title p.services-title-p {
    position: static;
    writing-mode: lr-tb;
    transform: inherit;
    margin-bottom: 30px;
    font-size: 12px;
  }
  .services .services-container .services-title h2 {
    position: static;
    writing-mode: lr-tb;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .services .services-container .service-wrap {
    margin: 0;
    padding: 0 15px;
  }
  .services .services-container .service-wrap .service-contents {
    display: none;
  }
  .services .services-container .service-wrap p {
    margin-bottom: 30px;
    text-align: justify;
  }
}

.services .service-sp-collapse {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 1px;
  color: #333;
  border: 1px solid #f5f5f5;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.22);
  transition: .3s;
}

.services .service-sp-collapse input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  padding: 15px 15px 0 15px;
  background: white;
}

.services .service-sp-collapse input:checked ~ .service-sp-collapse-content {
  max-height: 20em;
}

.services .service-sp-collapse label {
  font-weight: bold;
  line-height: 3;
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  margin: 0 0 1px 0;
  cursor: pointer;
  /* background: #1b2538; */
  padding: 15px 15px 0 15px;
}

.services .service-sp-collapse label .service-content-sp {
  display: flex;
}

.services .service-sp-collapse label .service-content-sp .service-content-img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.services .service-sp-collapse label .service-content-sp .service-content-img img {
  width: 40px;
  height: 40px;
  font-size: 40px;
}

.services .service-sp-collapse label .service-content-sp h3 {
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 0;
  text-align: left;
}

.services .service-sp-collapse label .service-content-sp p.color-gray {
  line-height: normal;
  font-size: 14px;
  color: gray;
  margin-bottom: 20px;
}

.services .service-sp-collapse .service-sp-collapse-content {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 0.35s;
  transition: max-height 0.35s;
  /* background: #a9bce2; */
  font-size: 14px;
}

.services .service-sp-collapse .service-sp-collapse-content p {
  margin: 0 15px 40px 15px;
}

.services .service-sp-collapse .service-sp-collapse-content a {
  display: inline-block;
  margin: 20px;
}

@media screen and (min-width: 426px) {
  .services .service-section-sp {
    display: none;
  }
}
