.newspage{
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
    .news_banner{
        max-width: 1305px;
        width: 100%;
        height: 327px;
        position: relative;
        margin-left: 135px;
        img{
            max-width: 100%;
            width: 100%;
            height: auto;
        }
        .top_banner_img_tb{
            display: none;
        }
        .top_banner_img_sp{
            display: none;
        }
        .title{
            position: absolute;
            left: 5%;
            top: 35px;
            h2 {
                font-size: 30px;
                line-height: 50px;
                letter-spacing: 2.5px;
                color: #212426;
                writing-mode: vertical-rl;
                display: flex;
                flex-direction: column-reverse;
                &::before {
                    content: 'Services';
                    font-size: 14px;
                    text-align: right;
                    color: #2ca6e0;
                    letter-spacing: .8px;
                    transform: rotate(-180deg);
                    writing-mode: vertical-rl;
                    line-height: 20px;
                }
            }
        }
    }
    .allnews{
        padding-bottom: 110px;
        .nav-tabs{
            margin-bottom: 76px;
            margin-top: 58px;
            border-bottom: none;
            .nav-item{
                position: relative;
                width: 10%;
                text-align: center;
                .nav-link{
                    border: none;
                    padding: 0;
                }
            }
        }
        .nav-item::before{
            content: '    ';
            display: block;
            width: 1px;
            height: 30px;
            background-color: #c7c7cb;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        .nav-item:last-child::after{
            content: '';
            display: block;
            width: 1px;
            height: 30px;
            background-color: #c7c7cb;
            margin-left: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        .date{
            font-size: 30px;
            color: #f4f4f5;
            font-weight: bold;
            text-align: right;
            padding-bottom: 20px;
        }
        .one-post{
            display: flex;
            border-top: 1px solid #f4f4f5;
            border-bottom: 1px solid #f4f4f5;
            padding: 18px;
            a{
                color: #212426;
            }
            a:hover{
                color: #2ca6e0;
                text-decoration: none;
            }
            p{
                font-family: Ubuntu;
                font-size: 14px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.57;
                letter-spacing: 0.8px;
            }
            .post-category {
                margin: 0 20px;
                font-family: NotoSansTC;
                font-size: 12px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 0.8px;
                text-align: center;
                border-radius: 30.5px;
                background-color: #2ca6e0;
                a{
                    color: #ffffff;
                    padding: 1px 15px;
                }
            }
            .post-infomation {
                display: flex;
            }
            .more{
                width: 33px;
                height: 9px;
                margin: 6px 0 0 auto;
            }
        }
        @include md{
            padding: 0 39px;
            .one-post {
                flex-direction: column-reverse;
            }
            .post-infomation {
                padding: 10px 0 0 0;
            }
        }
        
        .pagination{
            margin: 0 auto;
            max-width: 321px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-family: 'Ubuntu';
            margin-top: 82px;
            margin-bottom: 116px;
            .page-item{
                .page-link{
                    border: none;
                    color: #c7c7cb;
                    background-color: transparent;
                }
            }
            .active{
                border-radius: 50%;
                border: 2px  #2ca6e0 solid;
                a{
                    color: #2ca6e0!important;
                }
            }
        }
    }
}

@media screen and (max-width:769px){
    .newspage{
        padding: 0 10px;
        .news_banner{
            margin-left: 5%;
            max-height: 229px;
            height: auto;
            .top_banner_img_pc{
                display: none;
            }
            .top_banner_img_tb{
                display: block;
            }
            .title{
                top:20px;
                left: 0;
            }
        }
    }
}

@media screen and (max-width:541px){
    .newspage{
        .news_banner{
            margin-bottom: 60px;
            .top_banner_img_tb{
                display: none;
            }
            .top_banner_img_sp{
                display: block;
            }
            .title{
                top: 0px;
            }
        }
        .allnews{
            padding: 0 10px;
            .nav-tabs{
                .nav-item{
                    width: 20%;
                }
            }
            .one-post{
                .post-infomation{
                    .post-date{
                        font-size: 12px;
                    }
                }
                .more{
                    display: none;
                }
            }
        }
    }
}